@media screen and (max-width:1100px){
    .bookslot{
        padding: 100px 20px !important;
    }
    .HomeFrame3img{
        width: 80% !important;
    }
}
@media screen and (max-width:800px){
    .HomeContent{
        width: auto;
        padding:10px
    }
    .HomeContent2{
        width: auto;
        padding: 10px;
    }
    h4{
        width: auto !important;
    }
    .HomeFrame3{
        flex-direction: column-reverse;
    }
    .bookslot{
        padding: 10px 30px !important;
        width: 100% !important;
    }
    .subfooter{
        flex-direction: column;
    }
    .slotBox{
        height: auto !important;
    }
    .slotContent h3{
        margin: 10px 0px  !important;
    }
    .slot{
        align-items: flex-start !important;
        flex-direction: column;
        margin: 15px  0px !important;
    }
    .slotContent{
        width: 100% !important;
    }
    .HomeFrame3img{
        height: 400px;
        width: 100% !important;
        background-position: center top;
        background-size: 100% auto !important;
    }
    .contact{
        position: initial;
        width: 90%;
        margin: 20px auto;
    }
    .subbox{
        width: 80%;
    }
    .footdivide{
        width: 100%;
    }
    input,select{
        width: 30vw;
        margin:0 0 0 5px;
    }
    .is-sticky{
        width: auto !important;
        margin: 0  auto !important;
        right: initial !important ;
    }
}
